.goLink {
  background-color: #000;
  font-size: 20px;
  padding: 11px 34px 13px;
  border-radius: 50px;
  color: #ffffff;
  &:hover {
    color: #fff;
  }
  &.disabled {
    background-color: #bababa;
    cursor: default;
  }
}
