.nextQuizButtonWrap {
  text-align: center;
}

.nextQuizButton {
  height: 51px;
  background: #222;
  font-size: 20px;
  padding: 11px 34px 13px;
  border-radius: 50px;
  color: #ffffff;
  position: relative;
  z-index: 10;
  mix-blend-mode: normal;

  &:disabled {
    background-color: #bababa;
    cursor: default;
  }
}
