.progressbarWrap {
  text-align: center;
  span {
    font-size: 14px;
    display: block;
    margin-top: 8px;
    font-family: 'MaruBuriBold';
    color: #4e4e4e;
  }
}
.progressbar {
  position: relative;
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
  .activeBar {
    position: absolute;
    height: 8px;
    top: 0;
    left: 0;
    background-color: #ffd200;
    transition: width 0.4s ease-in-out;
  }
}
