.homeContainer {
  padding: 45px 20px;
}

.title {
  font-size: 26px;
  line-height: 33px;
}
.subTitle {
  font-size: 14px;
  margin-bottom: 7px;
}
.studentInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 7px 12px;
  border-bottom: 2px solid #000;
  .class {
    font-size: 12px;
    padding: 2px 7px;
    border-radius: 50px;
    border: 1px solid #000;
    text-align: center;
  }
  .student {
    font-size: 12px;
    display: flex;
    border: 1px solid #000;
    .nameTitle {
      padding: 2px 7px;
      border-right: 1px solid #000;
    }
    .studentName {
      padding: 2px 7px;
    }
  }
}
.img {
  width: 100%;
}
